@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  --primaryColor: rgb(19, 19, 40);
}
body {
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 776px) {
  html {
    font-size: 8px;
  }
}
